<div class="app-window">
  <div class="header">
    <div class="title">Available Apps</div>

    <div class="spacer"></div>

    <button
      mat-icon-button
      color="primary"
      (click)="refreshAppList()"
      matTooltip="Refresh app list"
    >
      <mat-icon>refresh</mat-icon>
    </button>
  </div>

  <div class="body">
    <div class="container">
      @if (isLoading) {
        <div class="loading">
          <mat-spinner></mat-spinner>
          <span>{{ loadingMessage }}</span>
        </div>
      } @else {
        @for (item of appsList; track $index) {
          <app-app-item
            class="app-item mat-elevation-z2"
            [item]="item"
            (click)="loadAppUrl(item.url)"
          ></app-app-item>
        }
      }
    </div>
  </div>

  <app-footer></app-footer>
</div>
